ul.link_list {
    display:table;
    table-layout:fixed;
    width:500px;
    padding-bottom: 40px;
}
ul.link_list li {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color:red;
    border-left:1px solid white;
}
ul.link_list li:first-child {
    border:none;
}
ul.link_list li a {
    display:block;
    text-decoration:none;
    color:white;
}

.box {
    border: solid 1px #000000;
    padding: 0.5em;
  }