/* .row { */
  /* display: flex; */
  /* background: #ccc; */
  /* flex-wrap:wrap;回り込み有効化 */
/* } */

#left_column {
  float: left;
  width: 33%;
}

#center_column {
  float: left;
  width: 34%;
}

#item_shop_title {
  text-align: center;
}

#right_column {
  float: left;
  width: 33%;
}

#restart_button {
  margin-top: 10px;
  bottom: 10px;
}

