.description_box {
 position: relative;
 margin: 2em auto;
 padding: 1.2em;
 color: #555555;
 background-color: #fff;
 border: 1px solid #555555;
 width: 90%;
}
.description_box_of_title{
 position: absolute;
 padding: 0 .5em;
 left: 20px;
 top: -15px;
 font-weight: bold;
 background-color: #fff;
 color: #555555;
}

