<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">

</head>

<body>
    <div id="app">
       <ol>
           <button v-on:click="handleClick">Click</button>
           <li v-for="item in list">{{ item }}</li>
       </ol>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>

</body>
</html>