
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'clicker/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'clicker/start.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'clicker/game.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'clicker/clear.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ul class = "link_list">
        <li><a href="#">Marriage Clicker</a></li>
        <li><a href="#">Source Code</a></li>
    </ul>
    {% block main_contents %}
    {% endblock %}
</body>
</html>