{% extends 'clicker/base.html' %}

{% block main_contents %}

    <div id="clear_box" class="box" title="Description">
        ゲームクリアおめでとうございます．<br><br><br>


        あなたのクリアしたステータスは以下です．<br><br>
        =====<br><br>
            {% for key,value in stats.items %}
            <li>{{key}}:{{value}}</li>
            {% endfor %}

    </div>
{% endblock %}