{% extends 'clicker/base.html' %}

{% block main_contents %}
    <div class="row">
        <div id="left_column" class="column" style="vertical-align: top;">
            <div id="activity_streams_area" class="box">
                {% for stream in activity_streams %}
                    <li>{{stream.log_date}}:{{stream.text}}</li>
                {% endfor %}
            </div>
            <form>
                <button type="submit" id="restart_button" name="restart_game">Start NewGame</button>
            </form>
        </div>

        <div id="center_column" class="column">
            <p id="item_shop_title">Item Shop(Buy Only)</p>
            <div id="shop_area" class="box">
            <form>
                {% for item in shop_items %}
                    <button type="submit" class="buy_buttons" name="buy_item" value={{item.item_name}}>
                        {{item.item_name}}<br>charm:{{item.charm_point}}<br>price:{{item.item_price}}
                    </button>
                {% endfor %}
            </form>
            </div>
        </div>

        <div id="right_column" class="column" style="vertical-align: top;">
            <form>
                <button type="submit" class="next_day_button" name="next_day">Next Day(include save progress)</button>
            </form>

            <div id="stats_area" class="box">
            {% for key,value in stats.items %}
                <li>{{key}}:{{value}}</li>
            {% endfor %}
            <br>
            <li> Owned items:
                <ul>
            {% for item in owned_items %}
                    <li>{{item.item_id__item_name}}:{{item.quantity}}</li>
            {% endfor %}
                </ul>
            </li>
            </div>
        </div>
    </div>
    {% endblock %}
