{% extends 'clicker/base.html' %}

{% block main_contents %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button class="start_button">Game Start!</button>
    </form>


    <br><br>

    <div class='description_box' title="Description">
        あなたはある家の妻です．<br>
        夫を出世させてできるだけ早く富を築くことが目的です．<br><br>

        1日ごとにもらえる給料から自分の魅力に繋がるアイテムを買えます．<br>
        魅力が上がれば3日ごとにある会社のイベントで気に入られて，ボスから昇進と昇給をもらえるでしょう．<br><br>

        少ない日数で規定のお金を貯められるよう頑張って下さい．<br><br><br>


        ※続きから実施する際はIDの入力が必須なのでコピペするなどして保存しておいて下さい．
    </div>
{% endblock %}